@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.hover:hover{
  color:orange;
  cursor: pointer;
}

.hoverGreen:hover{
  color:greenyellow;
  cursor: pointer;
}

.hoverGrey:hover{
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}

body,html{
  width: 100%;
  padding:0px;
  margin:0px;
  overflow-x: hidden;
}


.backPage, .setting:hover{
  cursor:pointer;
}
/* All page */
.loadingBox{
  display: flex;
  height: 79vh;
  justify-content: center;
  align-items: center;
}

.pagenation-navBox{
  display: flex;
  justify-content: center;
}
.navbar-flexBox{
  display: flex;
  justify-content:space-between
}
.welcomeMsg{
  font-size:0.8rem;
  margin-top:2%;
  margin-right:10px;
}
label{
  margin-right:20px;
}
.topSettingBox{
  display: flex;
}
.loginBtn{
  margin-right: 5px;
}
footer{
  display: flex;
  flex-direction: column;
  background-color:black;
  color:grey;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:0.7rem;
  padding-left:20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footertitle{
  margin-right: 10px;
}

.topLogo{
  width: 200px;
  height: auto;
}
/* mainPage */
.MainPage{
  width: 100%;
}

.MainTitle_container{
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 0px 7px 0px black;
}
.MainTitle_title{
  display: flex;
  justify-content: space-between;
}
.MainTitle_right {
  display: flex;
  padding-right: 12px;
}
.loginBtn{
  margin-right: 20px;
}
.LoginSubmitBtn{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.MainTitle_text{
  width: 100%;
  margin-top:20px;
}
.MainSubTitle_container{
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom : calc(925/1920 * 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url('/home/js/Desktop/BootReviewClient/src/images/hands-2178566_1920.jpg');
  background-position: center;
  
}
.MainSubTitle_title{
  width: 100%;
  height: 100%;
  font-size: 1vw;
  padding-left:20px;
  padding-top:20px;
}
.MainContent_container{
  width: 100%;
  height: 0;
  background-repeat: no-repeat;
  padding-bottom : calc(700/1280 * 100%);
  background-size: cover;
  background-position: center;
  background-image: url('/home/js/Desktop/BootReviewClient/src/images/MainSecondContent.png');
}
.MainSecondContent_container{
  width: 100%;
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom : calc(680/1080 * 100%);
  background-position: center;
  /* background-image: url('/home/js/Desktop/BootReviewClient/src/images/second.png'); */
}



@media screen and (max-width:490px) {
  html{
    font-size: 70%;
  }
  .MainSubTitle_title{
    font-size:1vw;
  }
  .linkContainer{
    display: none;
  }
  .mainPage{
    font-size:10px;
  }
  
}
/* boardPage */

.numberBox {
  margin-top:20px
}
.modal-body-top{
  display: flex;
  flex-direction: column;
}
.anonymousInput-id{
  width: 30%;
}
.anonymousInput-pw{
  width: 30%;
}
.empty-reviewBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 19vw;
  justify-content: space-between;
  align-items: center;
}

.boardTop{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.boardTop-center{
  width: 50vw;
  height: auto;
  background-size: 50%;
  background-repeat: no-repeat;
  padding-bottom : calc(100/500 * 100%);
  background-position: bottom
}
.boardPage{
  display: flex;
  justify-content: space-evenly;
}
.boardItem{
  text-align: center;
  width: 100%;
  padding-right:20px;
  padding-left:20px;
  /* border: 1px solid red; */
  overflow-x:hidden;
}
.boardList{
  word-break: break-all;
  display: flex;
  list-style-type:none;
  flex-wrap: wrap;
  text-align: left;
}

.boardList > li{
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding-left:10px;
  padding-right:10px;
  flex-basis: 200px;
  flex-grow: 1;
  background-color:white;
  border-radius: 24px;
  box-shadow: 1px 1px 25px 1px rgb(0 0 0/23%);
}
.boardList > li > div > .title{
  text-align: center;
}
.boardItem > .subtitle{
  text-align: left;
  margin-left:36px;
  padding-left:10px;
  background-color: rgb(128, 128, 128,0.1);
  border-radius: 10px;
}

.boardList > li > div > .content{
  height: 200px;
  overflow-y: hidden;
}
.confirmBtn{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* boardLink component */
.linkContainer{
  display: flex;
  justify-content: space-evenly;
  border:1px solid blue;
}
.linkList{
  display: flex;
  width: 50%;
  height: auto;
}


@media screen and (max-width:1024px){
  .linkList{
    width: 90%;
  }
}
/* login component */
.headerSetting{
  border:1px solid gray;
  padding:2px;
  margin-bottom: 3px;
}
.loginCp{
  border:1px solid red;
}


/* Login Page */
.LoginPage-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:82vh;
}
.LoginWrapper{
  display: flex;
  justify-content: center;
}
.Login-Box{
  border-radius: 25px;
  box-shadow: 0px 0px 25px 0px gray;
  padding:50px;
}
.signupBox{
  display: flex;
  flex-direction: column;
}
.signupItem{
  border:1px solid red;
  background-color:black;
  font-weight: bold;
  color: white;
  margin-bottom: 1px;
}
.helpBox{
  display: flex;
  justify-content: space-evenly;
}



/** targetPlatformPage **/
.line {
  border:1px solid red;
}
@-webkit-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@-moz-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@-o-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} }

.container-xxl-top{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom : calc(100/800 * 100%);
  background-color:whitesmoke;
  color: #fff; 
  /* background: linear-gradient(-45deg, #ffffff, #ffebf3, #c4edfb, #c0f3e7); */
  background-image: url('/home/js/Desktop/BootReviewClient/src/images/logo/codeBack.258ee58b.png');
  background-repeat: repeat-x; 
  animation: AnimationName 15s ease infinite;
  background-size: 80%;
}

.container-xxl-top-center > h3{
  mix-blend-mode:difference;
  align-items: center;
  font-weight: bold;
  font-size: 3vw;
}

/* mypage */
.patchAndDelete {
  display: flex;
  margin-bottom:-1px;
}
.myPageTable{
  height: 61.5vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.blankReviewBox{
  display: flex;
  justify-content: center;
}
.mypage-nickNameBox{
  margin-bottom: 20px;
}
.mypage-pwBox{
  margin-bottom: 20px;
}
.button{
  margin-left:0.5%;
}


/** helpPage **/

.helpPage-Wrapper{
  display: flex;
  height: 90vh;
  align-items: center;
  position: relative;
}
.helpPage-Wrapper::before{
  content: "";
  background-image: url('/home/js/Desktop/BootReviewClient/src/images/sorry.png');
  background-size: 20vh;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 58%;
  left:44%;
  right: 0px;
  bottom: 0px;
}

.helpPageMsg-top{
  display: flex;
  flex-direction: row;
}
.helpPageMsg-item{
  margin-right: 5px;
}
.helpPageMsg-item.center{
  color:skyblue;
}
.container-xxl.help{
  display: flex;
  justify-content: center;
}


/* help Desk Component*/
.helpDeskBox{
  background-color:rgb(255, 187, 60);
  padding: 5px;
  border-radius: 50px;
  position:fixed;
  top:200px;
  right:0.5rem;

}

.modal.fade.helpDeskModal{
  position: fixed;
  left: 40%;
  width: 70%;
}

.chatDropZone{
  font-size: 1rem;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 400px;
  height: 80%;
  top:50px;
  right:0.5rem;
  border-radius: 24px;
  box-shadow: 1px 1px 25px 1px rgb(0 0 0/23%);
}

@media screen and (max-width:430px){
  .chatDropZone{
    width: 96%;
  }
}
@media screen and (max-height:760px){
  /* .chatDropZone{
    height: 50%;
  } */
  .chatBoxBody{
    height: 50%;
  }
}


.chatBoxHeader{
  display: flex;
  justify-content: space-between;
  /* margin-left:1rem;
  margin-right: 1rem; */
  margin-top:0.5rem;
  box-shadow: 0 2px 4px -4px black;
}

.chatBoxHeader-left{
  margin-bottom: 5px;
  margin-left:1rem;
}
.chatBoxHeader-right{
  display: flex;
  padding-right: 1rem;
  padding-bottom: 5px;
}

.chatBoxBody{
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
}




.dashBtn{
  margin-right: 10px;
}

.chatItem{
  display: flex;
  padding-top:6px;
  padding-left:6px;
}
.chatItem-content{
  background-color: rgb(209, 209, 209);
  padding-top: 10px;
  padding-left:5px;
  padding-right: 5px;
  border-radius: 15px;
}
.chatItem-userphoto{
  display: flex;
  justify-content: center;
}
.chatItem-left{
  margin-right: 6px;
}
.chatItem-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MyChatItem{
  display: flex;
  justify-content:space-between;
  margin-right: 4px;
  margin-top:4px;
}
.MyChatItem-content{
  background-color: rgb(0, 0, 0);
  color:white;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left:4px;
  padding-right: 4px;
}
.chatBoxWrapper{
  padding:10px 10px 10px 10px;
}
.chatBoxInput{
  background-color: white;
  padding-top: 10px;
  display: flex;
  padding-bottom:10px;
  padding-left:10px;
  border:1px solid grey;
  border-radius: 20px;
  padding-right: 10px;
}
.chatBoxInput-textarea{
  border:1px solid white;
  outline: none;
  overflow: hidden;
  resize: none;
}


/* Error Page*/

.errorPage-Wrapper{
  display: flex;
  height: 79vh;
  align-items: center;
  position: relative;
}
.errorPage-Wrapper::before{
  background-image: url('/home/js/Desktop/BootReviewClient/src/images/oopsError.png');
  content: "";
  background-size: 300px;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  top: 40%;
  left:40%;
  right: 0px;
  bottom: 0px;
}
.errorPageMsg-item.top{
  color:orange;
}
.errorPageMsg-item.bottom{
  color:red;
}